.titulo{
 background-color = black;
 font-family: Arial;
 color: white;
}

table{
 border-spacing = 5px;
}

p {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold
}

.header{
background-color = grey;
font-family: Arial;
font-size: 13px;
color: white;
}

.linha{
background-color = grey;
font-family: Verdana;
font-size: 13px;
color: #EEEEEE;
}

 .produto1 {
    color:#FF3300
}

 .produto2 {
    color:#000099
}

 .produto3 {
    color:#009900
}


